[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.2.0"
black = "*"
djangorestframework = "*"
django-cors-headers = "*"
bandit = "*"
flake8 = "*"
lint = "*"
django-oauth-login = "*"
django-oauth-toolkit = "*"
tox = "*"
django-redis-cache = "*"
django-rest-swagger = "*"
django-redis = "*"
drf-yasg = "*"

[dev-packages]
black = "*"
bandit = "*"
flake8 = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
